.image-list-item {
  padding: 10px;
  margin-bottom: 10px;
  color: #fff;
  background: #011627;

  display: flex;
  justify-content: flex-start;

  .thumb-wrap {
    margin-right: 20px;

    img {
      max-width: 180px;
    }
  }
}
